{{ partial "header.html" . }}

<div class="main-content">
    <div class="main-content__title">
        <h1 id="title">{{ .Title }}</h1>
    </div>
    <div class="main-content__article">
        <article id="content">
            {{ .Content }}
        </article>
    </div>
</div>

<div class="main-profile">
    <div class="main-profile__avatar">
        {{ with .Site.Params.avatar }}
            <img src="{{ . }}">
        {{ end }}
    </div>
    <div class="main-profile__body">
        <div class="main-profile__author">
            {{ with .Site.Params.author }}
            <span> {{ . }} </span>
            {{ end }}
        </div>
        <div class="main-profile__description">
            {{ with .Site.Params.description }}
            <p> {{ . }} </p>
            {{ end }}
        </div>
    </div>
</div>
<div class="main-line"></div>

{{ partial "footer.html" . }}
